<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ABOUT &gt; About Section Content</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}" />
</head>

<body>
    <article id="97effb4d-180e-4d37-aca7-9ec557bacfe1" class="page sans">
        <header>
            <h1 class="page-title">ABOUT &gt; About Section Content</h1>
        </header>
        <div class="page-body">
            <h2 id="491cb82c-dee1-4919-b689-3b571a48dd25" class="block-color-gray"><mark
                    class="highlight-orange">Introduction.</mark></h2>
            <p id="4223c280-eb1f-4732-b8e6-406892c0de57" class="">팀 프로젝트를 통해 앱 서비스를 만들어 졸업 프로젝트에서 최고점을 받은 경험이 있습니다. 주로
                DB연동과 프론트 엔드를 개발했으며, NodeJS모듈 연동하는 작업을 맡았습니다.</p>
            <!-- <p id="6d405279-ed33-44bd-9bbe-201d06d94333" class="">
            </p> -->
            <p id="baca610e-61c1-4d6c-b258-5918e8fd28f2" class="">팀 구성원과 함께 시너지 발휘하는 것을 좋아합니다. 팀원 각자의 전문성을 가지고 장점을 결합시켜
                프로젝트를 진행한 경험은 항상 사소한 것이나마 얻어가는것이 분명히 존재했기 때문입니다. </p>
            <!-- <p id="6f1f8970-4625-40fa-a37e-b42fbd7b7f0f" class="">
            </p> -->
            <p id="157dd83b-690a-4e03-8802-bd26a86e97cc" class="">또한, 최신 IT기술 트렌드에 관심이 많아 관련 매체에서 정보를 찾아보는 스타일 입니다. 최근에는
                Spring 프레임워크에 관심이 생겨 JSP를 학습하고 있습니다.</p>
            <hr id="d4ec3254-3b28-44a3-93bc-c417baf41132" />
            <h2 id="b5530e86-87fb-4cc9-8095-7f45e769a01c" class=""><mark class="highlight-orange">Education.</mark></h2>
            <figure id="be533842-2fea-438e-97b5-74c337a2df54" class="image"><a
                    href="{{ url_for('static', filename='assets/img/logo/gachonLogo.png') }}"><img
                        style="width:336px"
                        src="{{ url_for('static', filename='assets/img/logo/gachonLogo.png') }}" /></a>
            </figure>
            <h3 id="39b780e6-4337-4dab-8936-e5a5d74178c0" class="">가천대학교
                (글로벌 캠퍼스)</h3>
            <p id="48999192-359e-4662-9aae-3029807e4423" class="">
            </p>
            <p id="d8f4529d-e117-448d-9123-e6fe1ea317fa" class=""><mark class="highlight-gray"><em>2015.03 ~ 2017.02
                        (중퇴)</em></mark></p>
            <figure id="70aceba9-3e4b-4274-8279-b94e1f52f65f" class="link-to-page"><a
                    href="https://www.notion.so/Copy-of-GPA-3-49-4-5-70aceba93e4b42748279b94e1f52f65f"><span
                        class="icon">⚖️</span>Copy of GPA 3.49 / 4.5</a></figure>
            <p id="a6a5369f-52e3-4007-be7e-4d49057b96fb" class="">
            </p>
            <p id="24e94e57-85b8-4e63-9a29-422eabfe54b3" class="">
            </p>
            <figure id="d329b6bb-197c-4505-a221-932b5e2af03e" class="image"><a
                    href="{{ url_for('static', filename='assets/img/logo/sejongLogo.png') }}"><img
                        style="width:287px"
                        src="{{ url_for('static', filename='assets/img/logo/sejongLogo.png') }}" /></a>
            </figure>
            <h2 id="83e025e7-0174-41fc-a5f8-5b272161d9db" class="">세종대학교</h2>
            <p id="c1014fcf-391b-4f89-a169-591fe1685cee" class=""><mark class="highlight-gray"><em>2017.03 ~
                        2021.02</em></mark></p>
            <figure id="b1021ac5-99a4-4e12-8c3c-4ad119b48ab1" class="link-to-page"><a
                    href="https://www.notion.so/Copy-of-GPA-3-93-4-5-b1021ac599a44e128c3c4ad119b48ab1"><span
                        class="icon">⚖️</span>Copy of GPA 3.93 / 4.5</a></figure>
            <hr id="b54017ce-68c4-4922-82c8-b03c800785a0" />
            <h2 id="e9533f2a-e529-447a-a9e5-ca9c0426ec68" class=""><mark class="highlight-orange">Skill.</mark></h2>
            <figure class="block-color-gray_background callout" style="white-space:pre-wrap;display:flex"
                id="fe981212-94b8-4ea7-9dd3-7e053ab7df27">
                <div style="font-size:1.5em"><span class="icon">❕</span></div>
                <div style="width:100%">⭐️ 참고자료를 통해 간단한 코드 수정만 가능
                    ⭐️⭐️ 기본 문법 이해와 소규모 프로그램의 이슈 트래킹 가능
                    ⭐️⭐️⭐️ 프로젝트 경험이 있거나 주력 언어로 사용중 </div>
            </figure>
            <h3 id="e01ea3db-d03e-445c-86f0-7cc9c6fc6e05" class="">Github ⭐️⭐️⭐️</h3>
            <p id="52216ad6-280a-4905-b6aa-44c11fb06a74" class="">Github 저장소를 사용해 팀원과 공동작업을 한 경험이 있습니다. 협업 워크플로우에 대한 이해,
                Collaborator와 Contributor의 차이, 커밋과 푸시등의 이해를 하고 있습니다.</p>
            <p id="3b99ea6d-a50b-421c-9f9e-a36f542a6e0b" class="">
            </p>
            <h3 id="7150d31b-e8c4-4ff7-ac52-b050e906cce0" class="">Python⭐️⭐️⭐️</h3>
            <p id="c3046863-947f-41db-bdfe-28507d9efa5e" class="">코딩 테스트 언어로 파이썬을 학습하고 있습니다. 알고리즘과 관련해 문제를 줬을 때, 문제를 해결할
                수 있는 능력을 보유하고 있습니다.</p>
            <p id="6b3b6e90-fcbe-4156-bd39-8458ddc91eb4" class="">
            </p>
            <h3 id="814b7d30-a7e5-4e60-976c-25e23c150c6a" class="">Java ⭐️⭐️⭐️</h3>
            <p id="6669b6d6-e7c1-4b7c-8187-947211394c1c" class="">기본 문법에 대한 이해를 보유하고 있고, 팀 프로젝트를 통해 서버/클라이언트 구조, GUI
                프로그래밍, MVC 아키텍처 패턴 적용을 해본 경험이 있습니다. 간단한 이슈가 발생했을 시 트래킹할 수 있는 능력을 보유하고 있습니다.</p>
            <p id="805798d3-0653-4a14-b3c1-c2c972f27edc" class="">
            </p>
            <h3 id="ffdc507d-caad-4372-b6c4-35ac0e0c2bb3" class="">MySQL ⭐️⭐️⭐️</h3>
            <p id="9216e7f2-fad1-4b85-b555-d38d4e05d615" class="">팀 프로젝트에서 JDBC로 DB 연동과 관련 비즈니스 로직을 구현해본 경험이 있습니다. 또한,
                코딩 테스트 언어 중 하나로 SQL 언어를 학습하고 있습니다.</p>
            <p id="f1005f75-997a-416c-a441-1844662e5216" class="">
            </p>
            <h3 id="de4918db-aabd-4e6a-ac83-6e5b45abfd78" class="">Dart ⭐️⭐️⭐️</h3>
            <p id="84fee910-94b1-49ce-8727-5825665828c1" class="">졸업 프로젝트에서 애플리케이션 프론트 엔드를 담당했을 때, Flutter 프레임워크를 사용하기
                위해 학습한 언어입니다. Widget 사용과 비동기 로직에 관한 지식을 보유하고 있습니다.</p>
            <p id="3e04b11a-dd3a-4b27-83fa-969b5e405873" class="">
            </p>
            <h3 id="ec274f2d-81da-4941-b8f7-65b8db199478" class="">C++ ⭐️⭐️</h3>
            <p id="eaa7bbe5-e6eb-40f9-a858-6191b96542bc" class="">코딩 테스트 언어로 C++를 학습하고 있습니다. 알고리즘과 관련해 문제를 줬을 때, 문제를 해결할
                수 있는 능력을 보유하고 있습니다.</p>
            <p id="1ee10fb1-a3af-49ec-8330-2fb536be7bf0" class="">
            </p>
            <h3 id="5f071bad-eb2c-4ec5-a3c8-fdbbfba00ebd" class="">C ⭐️⭐️</h3>
            <p id="639ef204-1caa-4cea-9ae1-fbb81ce953e3" class="">C언어의 기본 문법에 대한 이해를 보유하고 있습니다. 메모리 관리, 스택과 힙 영역에 대한 이해를
                하고 있습니다.</p>
            <p id="4a1bafbc-5315-4cce-a48c-79203ee266d4" class="">
            </p>
            <h3 id="de28e611-95ee-4433-8d84-8b389e35211a" class="">HTML / CSS / Javascript ⭐️</h3>
            <p id="3bebebd3-ed81-4e72-8584-1d617d056314" class="">해커톤 대회에 참가하여 웹 기반의 서비스를 만들 때 사용한 경험이 있습니다. 오픈소스를 참고해
                소규모 프로젝트에 활용할 수 있는 능력을 보유하고 있습니다.</p>
            <hr id="01f1b0e2-e3a4-4c96-936e-335e2ac97082" />
            <h2 id="04d5627d-adc1-49b6-99ba-c6ad75310593" class=""><mark class="highlight-orange">Language.</mark></h2>
            <h3 id="0f2579a9-ac65-4c08-8dca-0a11bfe6eec8" class="">English 🇺🇸</h3>
            <ul id="4e955be7-a3af-445e-b210-cdf27fca2f2a" class="bulleted-list">
                <li>TOEIC - 680점 <em><mark class="highlight-gray">2019.09.08 ~ 2021.09.08</mark></em></li>
            </ul>
            <p id="fd4203b4-a390-42d9-bf02-498369740333" class="">
            </p>
            <hr id="e50e9778-3314-4f67-80a4-f6ef2d78ba4b" />
            <h2 id="401464e0-f039-4341-902b-b369d3833817" class=""><mark class="highlight-orange">Award.</mark></h2>
            <ul id="d9b51576-ba8a-462d-afac-39a7c29cc987" class="bulleted-list">
                <li>제 8회 세종대학교 SW·AI해커톤 대회 은상 <em><mark class="highlight-gray">2020. 07. 07</mark></em></li>
            </ul>
            <p id="716cb6e5-84ee-42f1-bb73-a8cb6c43ffa8" class="">
            </p>
            <hr id="e9dd49aa-d60d-4244-a23c-5d427f5ce523" />
            <h2 id="ad4f5c2e-0b43-41b1-bccd-dc34ffc6a1ba" class=""><mark class="highlight-orange">Certification.</mark>
            </h2>
            <ul id="dce7682a-d2e2-4b99-a202-7c058b2b9cd4" class="bulleted-list">
                <li>정보처리기사 <em><mark class="highlight-gray">2020.11.12 ~ </mark></em></li>
            </ul>
        </div>
    </article>
</body>

</html>